	<!-- Footer -->

	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="footer_logo"><a href="/"><%=image_tag("amethyst_logo_transparent.png",width:"160px")%></a></div>
					<nav class="footer_nav">
						<ul>
							<li><%=link_to("inicio", "/")%></li>
							<li><%=link_to("productos", "/products")%></li>
							<li><%=link_to("acerca de", "/product")%></li>
							<li><%=link_to("contacto", "/contact")%></li>
						</ul>
					</nav>
					<div class="footer_social">
						<ul>
							<li><a href="www.instagram.com/amethystcolombia"><i class="fab fa-instagram fa-icon-large"></i></i></a></li>
						</ul>
					</div>
					<div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;2018 All rights reserved
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
<small>made with the help of the folks at<i class="fa fa-heart-o" aria-hidden="true"></i> <a href="https://colorlib.com" target="_blank">Colorlib</a></small><br>
					<% if user_signed_in? %>
						<small><%= link_to "Logout", destroy_user_session_path, method: :delete %></small>
					<% else %>
						<small><%= link_to "Signup", new_user_registration_path %></small>
                    	<small><%= link_to "Login", new_user_session_path %></small>
					<% end %>
				</div>
			</div>
		</div>
	</footer>