<p id="notice"><%= notice %></p>

<h1>Products</h1>
<ul class="cd-gallery">
  <% @products.each do |product| %>
    <li>
      <a href="<%= url_for(product) %>">
        <ul class="cd-item-wrapper">
            <% product.images.each_with_index do |image,index| %>
              <% if index==0%>
                <li class="selected">
                  <%=image_tag(image, class:"consistent-image-medium") %>
                </li>
              <% elsif index==1 %>
                <li class="move-right" data-sale="false">
                  <%=image_tag(image, class:"consistent-image-medium") %>
                </li>
              <% else %>
                <li>
                  <%= image_tag(image, class:"consistent-image-medium") %>
                </li>
              <% end %>
            <% end %>
        </ul> <!-- cd-item-wrapper -->
      </a>

      <div class="cd-item-info">
        <b><a href="<%= url_for(product) %>"><%= product.name %></a></b>
        <% if user_signed_in? %>
          <%= link_to 'Edit', edit_product_path(product) %>
          <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div> <!-- cd-item-info -->
    </li>
  <% end %>

</ul> <!-- cd-gallery -->

<% if user_signed_in? %>
  <%= link_to 'New Product', new_product_path %>
<% end %>